// Menu wrapper
.menu-list {
  width: 240px;
  pointer-events: all;
  .menu-item {
    margin: 0;
  }
}
// Menu items
.menu-item {
  border-radius: 0;
  display: block;
  text-align: left;
  line-height: 1.8rem;
  padding: 12px;
  width: 100%;
  border: none;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    border-color: #e3e3e4;
    box-shadow: none;
  }
}
.menu-propper {
  padding: 8px 0;
}
// Header Component
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}
.back-btn {
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
