.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-btn-width: 52px;

  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  width: 100%;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-spacer);
}
.logo {
}
.logo-link {
  display: flex;
}

// Actions
.action {
  display: flex;
  align-items: center;
}
.more-btn {
  font-size: 2rem;
  background-color: transparent;
  margin-left: 24px;
  cursor: pointer;
  padding: 8px;
}
.menu-items {
  width: 224px;
}
.current-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 28px;
  cursor: pointer;
}
.action-btn {
  background-color: transparent;
  margin-left: 16px;
  cursor: pointer;
}
